/* Universal Styles */
:root {
    box-sizing: border-box;
    --green-100: #5fcf80;
    --green-200: #3ac162;
    --grey-100: #e8ebed;
    --grey-200: #f9fafa;
    --grey-300: #edeff0;
    --grey-400: #dfe1e2;
    --grey-500: #d4d9dd;
    --grey-600: #b7c0c7;
    --grey-700: #55616c;
    --grey-800: #515960;
    --text-color-100: #b2bbbd;
    --text-color-200: #7b8b8e;
    --text-color-300: #4b5658;
    --text-color-400: #444f51;
    --btn-grey-color: #e9ecec;
    --border-radius-100: .188rem;
    --border-radius-200: .3rem;
    --font-normal: 'Gotham Book';
    --font-medium: 'Gotham Medium';
    --font-bold: 'Gotham Bold';
}

/* Custom Fonts */
@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham-rounded/GothamRounded-Book.otf');
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham-rounded/GothamRoundedMedium_21022.ttf');
}
@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham-rounded/GothamRounded-Bold.otf');
}

/* pseudo elements */
::selection {
    background-color: #b0cee1;
    color: var(--text-color-300);
}

::placeholder {
    color: var(--text-color-400);
}

/* Main styles */
body {
    margin: 0;
    background-color: var(--grey-300);
    font-family: var(--font-normal);
    color: var(--text-color-200);
}

/* navigation styles */

nav {
    background-color: var(--grey-700);
    padding: .7rem 0;
    display: flex;
    justify-content: space-around;
}

nav span img {
    width: 2.5rem;
    margin: auto;
}

/* form styles */

.form-container {
    background-color: #fff;
    margin: 2rem .9rem;
    padding: 2rem .9rem;
    border-radius: var(--border-radius-200);
    border-bottom: 0.155rem solid var(--grey-400);
}

.input-container {
    display: flex;
    background-color: var(--grey-100);
    margin: .7rem 0;
    padding-left: .8rem;
    height: 2.6rem;
}

.form-icon {
    width: .95rem;
    margin-right: 0.4rem;
}

.input-container input {
    background-color: var(--grey-100);
    font-family: var(--font-medium);
    color: var(--text-color-300);
    border: none;
    width: 100%;
    font-size: 0.89rem;
    outline: none;
}

.input-container,
.input-container input {
    border-radius: var(--border-radius-100);
}
