/* Universal Styles */
:root {
    box-sizing: border-box;

    --green-100: #5fcf80;
    --green-200: #3ac162;
    --grey-100: #e8ebed;
    --grey-200: #f9fafa;
    --grey-300: #edeff0;
    --grey-400: #dfe1e2;
    --grey-500: #d4d9dd;
    --grey-600: #b7c0c7;
    --grey-700: #55616c;
    --grey-800: #515960;

    --text-color-100: #b2bbbd;
    --text-color-200: #7b8b8e;
    --text-color-300: #4b5658;
    --text-color-400: #444f51;

    --btn-grey-color: #e9ecec;

    --border-radius-100: 0.188rem;
    --border-radius-200: 0.3rem;

    --font-normal: "Gotham Book";
    --font-medium: "Gotham Medium";
    --font-bold: "Gotham Bold";
}

/* Custom Fonts */
@font-face {
    font-family: "Gotham Book";
    src: url("../fonts/gotham-rounded/GothamRounded-Book.otf");
}

@font-face {
    font-family: "Gotham Medium";
    src: url("../fonts/gotham-rounded/GothamRoundedMedium_21022.ttf");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/gotham-rounded/GothamRounded-Bold.otf");
}

/* pseudo elements */
::selection {
    background-color: #b0cee1;
    color: #464b4d;
}

::placeholder {
    color: var(--text-color-400);
}

/* Main styles */
body {
    margin: 0 auto;
    background-color: var(--grey-300);
    font-family: var(--font-normal);
    color: var(--text-color-200);
    position: relative;
}

/* navigation styles */

nav {
    background-color: var(--grey-700);
    padding: 0.7rem 0;
    display: flex;
    justify-content: space-around;
}

nav span img {
    width: 1.9rem;
    margin-right: .3rem;
    margin-top: 0.15rem;
}

.logo {
    display: flex;
}

.logo a {
    color: var(--text-color-100);
    font-family: 'Gotham Bold';
    font-size: 1.4rem;
    transition: color .4s;
    text-decoration: none;
    text-transform: capitalize;
}

.icon {
    align-self: flex-end;
}

.logo a:hover {
    color: white;
}


/* form styles */

form {
    background-color: #fff;
    margin: 3rem 0.9rem 2rem;
    padding: 2rem 0.9rem;
    border: none;
    border-radius: var(--border-radius-200);
    border-bottom: 0.186rem solid var(--grey-400);
    max-width: 490px;
}

.input-container {
    display: grid;
    grid-template-columns: 0.95rem 1fr;
    grid-gap: 0.4rem;
    align-items: center;
    background-color: var(--grey-100);
    margin: 0.8rem 0;
    padding: 0 0.8rem;
    height: 2.6rem;
}

.form-icon {
    width: 0.95rem;
    /* margin-right: 0.4rem; */
}

fieldset {
    border: none;
    margin: 0;
    padding: .2rem;
}

legend {
    text-align: center;
    font-family: var(--font-medium);
    font-size: 1.4rem;
}

.input-container input {
    background-color: var(--grey-100);
    font-family: var(--font-normal);
    color: var(--text-color-200);
    border: none;
    width: 100%;
    font-size: 0.89rem;
    outline: none;
    align-self: stretch;
    box-shadow: none;
}

.input-container input:focus {
    background-color: #fff;
}

.input-container:focus-within {
    box-shadow: 0 0 0 0.07rem var(--grey-600), 0 0 0 0.24rem var(--grey-400);
    background-color: #fff;
}

.input-container {
    border-radius: var(--border-radius-100);
}

.input-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    background-color: var(--green-100);
    font-family: var(--font-medium);
    color: #fff;
    border: none;
    border-radius: var(--border-radius-100);
    padding: 0.7rem 0;
    margin-bottom: 1.4rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--green-200);
    cursor: pointer;
}

.btn:focus {
    box-shadow: 0 0 0 0.07rem #57c177, 0 0 0 0.24rem #5fcf806e;
    outline: none;
}

.form-link {
    text-decoration: none;
    color: var(--text-color-200);
    font-size: 0.89rem;
    align-self: center;
    transition: color 0.3s;
}

.form-link:hover {
    color: var(--green-200);
}

.icon-bar {
    width: 4.6rem;
    background-color: var(--grey-800);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.side-menu {
    width: 10rem;
    background-color: white;
}

.copy-text {
    color: var(--grey-600);
    font-size: 0.8rem;
}

.sign-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sign-footer {
    margin-top: auto;
    margin-bottom: 2rem;
    text-align: center;
}

/* media queries */
@media (min-width: 414px) {
    .btn {
        margin-bottom: 0;
        padding: 0.7rem 3rem;
    }

    .input-submit {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2.5rem;
    }

    form {
        padding: 0.1rem 1.3rem 2rem;
    }
}

@media (min-width: 500px) {
    main {
        margin: 0 1rem;
    }

    form {
        margin: 3rem auto 2rem;
        padding: 0.1rem 1.7rem 2rem;
        border-bottom: .1rem solid var(--grey-400);

    }
}

@media (min-width: 768px) {
    legend {
        font-size: 1.7rem;
    }

    fieldset {
        border-bottom: .19rem solid var(--grey-400);
        max-width: 500px;
    }
}